@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.header_wrapper {
    position: sticky;
    top: 0px;
    margin: 0px 10px 30px 10px;

    // margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color:navajowhite;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px black;
    z-index: 1000;
}

.header_logo {
    display: flex;
    position: relative;
    // height: 80px;
    min-width: 157px;
    margin: 5px;
    background-color:#e3e3e3;
    border-radius: 5px;
    border: 5px solid black;
    overflow: hidden;


    @media (max-width: 500px) {
        display: none;
    }
}

.header_logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent );
    transition: 0.5s;
    overflow: hidden;
    animation: start 5s infinite;

}

@keyframes start{
    0% {
        left: -100%;
    }

    25% {
        left: 100%;
    }

    50% {
        left: 100%;
    }

    75%{
        left: 100%;
    }

    100% {
        left: 100%;
    }
}


// .header_logo:hover::before {
//     left: 100%;

// }


.header_logo p {
    width: 100%;
    line-height: 15px;
    font-size: 13px;
    font-family: inherit;
    margin: 0px;
    padding: 5px;

    @media (max-width: 1000px) {
        font-size: 10px;
        
    }
}

.title_wrapprer {
    max-width: 517px;
    text-align: center;
}
.title_wrapprer p {
    text-transform: uppercase;
    line-height: 20px;
    font-size: 15px;

    @media (max-width: 729px) {
        font-size: 12px;
    }

    @media (max-width: 600px) {
        font-size: 8px;
    }
}

.logo_wrapper {
    margin: 0 10px;
    width: 10%;
    max-width: 85px;
}

.logo_wrapper img {
    max-width: 140px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid black;
}

.sound_on {
    padding-left: 3px;
    width: 100%;
}

.sound_off {
    width: 100%;
}

.start_btn {
    width: 30px;
    z-index: 100;
    margin: 5px;
    background-color:#e3e3e3;
    border: 10px double black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px black;
    cursor: pointer;
    transition: .2s;
    
}

.start_btn:active {
    box-shadow: 0px 0px 0px 0px black;

}

.dot_left {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

.dot_minus {
    position: absolute;
    top: 4px;
    width: 10px;
    height: 2px;
    background-color: grey;
}

.dot_plus {
    position: absolute;
    right: 4px;
    width: 2px;
    height: 10px;
    background-color: grey;
}

.screw_left {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}