.footer_wrapper {
    margin: 30px 10px 0px 10px;
    padding: 15px 0;
    // height: 120px;
    background-color:navajowhite;
    border-radius: 5px;
    box-shadow: 5px -5px 5px 5px black;
}

.footer_info {
    display: flex;
    position: relative;
    padding: 5px 3px;
    border: 5px solid black;
    border-radius: 5px;
    background-color:#e3e3e3;
    border-radius: 5px;
    overflow: hidden;
}

.footer_info::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent );
    transition: 0.5s;
    overflow: hidden;
    animation: start 5s infinite;

}

@keyframes start{
    0% {
        left: -100%;
    }

    25% {
        left: 100%;
    }

    50% {
        left: 100%;
    }

    75%{
        left: 100%;
    }

    100% {
        left: 100%;
    }
}


.dot_left {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

.dot_minus {
    position: absolute;
    top: 4px;
    width: 10px;
    height: 2px;
    background-color: grey;
}

.dot_plus {
    position: absolute;
    right: 4px;
    width: 2px;
    height: 10px;
    background-color: grey;
}

.screw_left {
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}