@import 'sass/mixins';
@import 'sass/variables';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: cadetblue;

}

.App {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: cadetblue;
    min-height: 100vh;
    max-height: fit-content;
    font-family: 'Press Start 2P', cursive;


    main {
        margin: 0px 10px 30px 10px;
        flex-grow: 8;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        border-radius: 5px;
        background-color: navajowhite;
        box-shadow: 5px 0px 5px 5px black;

        @media (max-width: 800px) {
            flex-wrap: wrap;
        }

        h1 {
            @include text($fontFamily, 18px, 600, 46px, $captionTextColor);
        }

        .temporary-vCard-display {
            @include text($fontFamily, 16px, 600, 46px, $captionTextColor);
            display: flex;
            flex-direction: column;
            margin: 40px;
            min-width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffc877;
            box-shadow: 5px 5px 5px 5px black;
            border-radius: 5px;
            padding: 30px;
        }
    }
}

header,
footer {
    min-height: 80px;
    max-height: fit-content;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 8em;
        height: 8em;
    }
    p {
        @include text($fontFamily, 1.6em, 600, 46px, $captionTextColor);
        padding: 0 5px;
    }
}

footer {
    // background: linear-gradient(to bottom, $bGFirstColor, rgba(14, 149, 167, 0.7));
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    p {
        @include text($fontFamily, 16px, 600, 46px, $captionTextColor);
    }
}

.surprise {
    position: absolute;
    width: 71px;
    height: 72px;
    background: url('../public/surprise.png') left center;
    top: 80vh;
    left: 0px;

    -webkit-animation: play 0.8s steps(4) infinite, run 7s both infinite linear;

    animation: play 0.8s steps(4) infinite, run 7s both infinite linear;
}

@-webkit-keyframes play {
    100% {
        background-position: -284px;
    }
}
@keyframes play {
    100% {
        background-position: -284px;
    }
}
@-webkit-keyframes run {
    from {
        left: 20%;
    }
    to {
        left: 70%;
    }
}
@keyframes run {
    from {
        left: 20%;
    }
    to {
        left: 70%;
    }
}
