.surprise {
    position: absolute;
    width: 71px;
    height: 72px;
    background: url('../../../public/surprise.png') left center;

    -webkit-animation: play 0.8s steps(4) infinite;
    animation: play 0.8s steps(4) infinite;
}

@-webkit-keyframes play {
    100% {
        background-position: -284px;
    }
}
@keyframes play {
    100% {
        background-position: -284px;
    }
}
